<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/docs.min.css"/>
    <link rel="stylesheet" href="css/palette.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noticia+Text:300,300i,400,400i,700,700i%7CVictor+Mono:400,400i,700,700i&amp;display=fallback">
    <HeadOutlet/>
</head>

<body
    dir="ltr" data-md-color-scheme="slate" data-md-color-primary="deep-purple" data-md-color-accent="pink" data-md-color-media=""
    style="display: grid; grid-template-rows: auto 1fr auto">
    <Routes></Routes>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>