@inherits LayoutComponentBase

@Body
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
                <small>Global Domination VI by
                <a rel="noopener">
                    Aluce
                </a>
                </small>
        </div>
    </div>
</footer>