@page "/"
@inject IJSRuntime JsInterop


<header class="md-header md-header--shadow" data-md-component="header">
    <nav class="md-header__inner md-grid" aria-label="Header">
        <div class="md-header__title" data-md-component="header-title">
            <div class="md-header__ellipsis">
                <div class="md-header__topic">
                    <span class="md-ellipsis">Global Domination VI</span>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="md-container" data-md-component="container">
    <main class="md-main" data-md-component="main">
        <GlobalDominationMap></GlobalDominationMap>
    </main>

</div>