@page "/"
@inject IJSRuntime JsInterop


<header class="md-header md-header--shadow" data-md-component="header">
    <nav class="md-header__inner md-grid" aria-label="Header">
        <a href="http://localhost:8000/" title="Global Domination VI" class="md-header__button md-logo" aria-label="Global Domination VI" data-md-component="logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M12 8a3 3 0 0 0 3-3 3 3 0 0 0-3-3 3 3 0 0 0-3 3 3 3 0 0 0 3 3m0 3.54C9.64 9.35 6.5 8 3 8v11c3.5 0 6.64 1.35 9 3.54 2.36-2.19 5.5-3.54 9-3.54V8c-3.5 0-6.64 1.35-9 3.54"></path>
            </svg>
        </a>
        <label class="md-header__button md-icon" for="__drawer">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"></path>
            </svg>
        </label>
        <div class="md-header__title" data-md-component="header-title">
            <div class="md-header__ellipsis">
                <div class="md-header__topic">
                    <span class="md-ellipsis">Global Domination VI</span>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="md-container" data-md-component="container">
    <main class="md-main" data-md-component="main">
        <GlobalDominationMap></GlobalDominationMap>
    </main>

</div>